body{
    padding-left:20%;
    padding-right:20%;
    background-color:rgb(86, 70, 188);
    padding-top: 0;
    margin:0;
    font-family: "Roboto", sans-serif;
    height: 100%;
    color: white; 
}

.foreground{
    background-color: rgb(29, 23, 68);
    padding-top: 20px;
    
    height: 100%;
}

.Hello {font-size: 1vw;
    display: flex;
    justify-content: space-evenly;

}
.Hellotxt{
    margin:auto;
    text-align: center; font-size: 1.6vw; font-weight: 430;}
.Helloimg {
    width: 50%;padding:5%; padding-left:0;
    
}
.hellope{
    margin: auto;padding:5%; width: 50%; text-align: center; font-weight: 300;
}
.big{font-weight: 900;font-size: 400%;}
.buttons{
    display: flex;
    justify-content:space-evenly;
}
.button{
    border-radius: 10px;
     background-color: black; 
     
     border: 4px white solid; 
     width: 30%; 
     font-size: 2vw;
     text-align: center;
     font-family: "roboto" sans-serif;
     text-decoration: none;
     font-weight: 430;
     color: white; 
    }


    .Onetxt{
        margin:auto;
        text-align: center; font-size: 1.6vw; font-weight: 430;}
    .Oneimg {
        width: 15%;padding-right:7%; padding-top: 5%; padding-bottom: 5%;        
    }
    .Oneng{
        margin: auto;padding:7%; width: 70%; text-align: center; font-weight: 200;
    }
    
    .One {font-size: 1vw;
        display: flex;
        justify-content: space-evenly;
    
    }
    .Oneimgl {
        width: 15%;padding-left:5%;   padding-top: 5%; padding-bottom: 5%;      
    }
    